# for reference see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

* @skawian @kievitsp @jacinpoz @khouari1 @matteematt @SzymonZur @ArturKrasinski @jay-taylerson @Gareth-Spencer-Genesis @patrickoneill-genesis
