<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<h1><%= htmlWebpackPlugin.options.title %></h1>
<h3>Module Federation Details</h3>
<pre><%= htmlWebpackPlugin.options.moduleFederationDetails %></pre>
Read about <a href="https://webpack.js.org/concepts/module-federation/" target="_blank">Module Federation</a> in Webpack 5.
</body>
</html>
