.appFooter {
  position: absolute;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  line-height: 100%;
  font-size: 22px;
  font-weight: 300;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  bottom: 0;
  flex-wrap: nowrap;
}

.appFooter > img {
  height: 30px;
  margin: 0 10px;
  display: inline-block;
}

.appFooter > span {
  opacity: 0.2;
  display: inline-block;
}

.appFooter:hover {
  opacity: 1;
}
