rapid-design-system-provider {
  height: 100%;
  background-color: var(--neutral-fill-stealth-active);
  color: var(--neutral-foreground-rest);
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
