<rapid-design-system-provider #designSystemProvider>
  <pbc-elements-renderer [target]="['layout-start']"></pbc-elements-renderer>
  <foundation-header
    #foundationHeader
    show-luminance-toggle-button
    show-misc-toggle-button
    (luminance-icon-clicked)="onLuminanceToogle()"
    (logout-clicked)="onLogout()"
    [navigateTo]="navigateAngular"
    [routeNavItems]="navItems"
  >
  </foundation-header>
  <section class="content">
    <pbc-elements-renderer [target]="['content-start']"></pbc-elements-renderer>
    <gridster [options]="options">
      <gridster-item *ngFor="let item of dashboard" [item]="item">
        <ng-container *ngComponentOutlet="item.component"></ng-container>
      </gridster-item>
    </gridster>
    <pbc-elements-renderer [target]="['content', 'content-end']"></pbc-elements-renderer>
  </section>
  <pbc-elements-renderer [target]="['layout', 'layout-end']"></pbc-elements-renderer>
</rapid-design-system-provider>
