:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  contain: content;
}

.container {
  position: relative;
  height: 100%;
}

rapid-design-system-provider {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--neutral-fill-stealth-active);
  color: var(--neutral-foreground-rest);
  overflow: hidden;
}

foundation-header {
  z-index: 999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  align-items: center;
  border: none;
}

foundation-header::part(background) {
  box-sizing: border-box;
}

.routes-wrapper {
  display: flex;
  gap: calc(var(--design-unit) * 2px);
}

.content {
  width: 100%;
  flex-grow: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: var(--nav-height);
}
