<rapid-design-system-provider #designSystemProvider>
  <pbc-elements-renderer [target]="['layout-start']"></pbc-elements-renderer>
  <foundation-header
    {{#if headerLogoSrc}}logo-src="{{headerLogoSrc}}"{{/if}}
    #foundationHeader
    show-luminance-toggle-button
    show-misc-toggle-button
    (luminance-icon-clicked)="onLuminanceToogle()"
    (logout-clicked)="onLogout()"
    [navigateTo]="navigateAngular"
    [routeNavItems]="navItems"
  >
  </foundation-header>
  <section class="content">
    <pbc-elements-renderer [target]="['content-start']"></pbc-elements-renderer>
    <router-outlet></router-outlet>
    <pbc-elements-renderer [target]="['content', 'content-end']"></pbc-elements-renderer>
  </section>
  <pbc-elements-renderer [target]="['layout', 'layout-end']"></pbc-elements-renderer>
</rapid-design-system-provider>
