name: Build

on:
  push:
    branches: [tshruti/PSD-7]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      genesisArtifactoryUser: ${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_USER }}
      genesisArtifactoryPassword: ${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_PASSWORD }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Configure Gradle
        run: ./.genx/scripts/init_gradle.sh
      - name: Install foundation db
        uses: foundationdb-rs/foundationdb-actions-install@v2.0.0
        with:
          version: 6.2.22
      - name: Configure FDB
        run: |
          fdbcli --exec "configure single ssd"
          fdbcli --exec "status"
      - name: Generate sample app
        working-directory: /tmp
        run: |
          SEED_PATH=$(node -p "p=require('node:path');p.relative(process.cwd(),'${{github.workspace}}')")
          npx -y @genesislcap/genx@latest init testapp -s "$SEED_PATH" -x
          cd testapp
          ./gradlew assemble

