name: Build

on:
  push:
    branches: [main, master, develop, alpha]
  pull_request:
    branches: [main, master, develop, alpha]
  workflow_dispatch:

jobs:
  build:
    env:
      genesisArtifactoryUser: ${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_USER }}
      genesisArtifactoryPassword: ${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_PASSWORD }}
      USE_DOCKER: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Generate .npmignore
        run: cp .gitignore .npmignore && echo '!.gitignore' >> .npmignore

      - name: Release
        env:
          GH_TOKEN: ${{secrets.GH_USER_TOKEN}}
        run: |
          npm install
          npm run release

      - name: Echo .npmignore
        run: cat .npmignore

      - name: Publish
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{secrets.NPM_TOKEN}}
          dry-run: true

      # - name: Set up JDK
      #   uses: actions/setup-java@v3
      #   with:
      #     java-version: '17'
      #     distribution: 'temurin'
      #     cache: 'gradle'
      # - uses: KengoTODA/actions-setup-docker-compose@main
      #   env:
      #     GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      # - name: Configure Gradle
      #   run: ./.genx/scripts/init-gradle.sh

      # - name: Generate sample app
      #   working-directory: /tmp
      #   run: npx -y @genesislcap/genx@latest init testapp -s "${{github.workspace}}" -x

      # - name: Copy fixtures
      #   run: cp -R ./.genx/tests/fixtures/testapp/* /tmp/testapp

      # - name: Build sample app
      #   working-directory: /tmp/testapp
      #   run: ./gradlew build -PclientSpecific=true

      # - name: Lint UI
      #   working-directory: /tmp/testapp/client
      #   run: npm run lint

      # - name: Test (unit & integration UI)
      #   working-directory: /tmp/testapp/client
      #   run: npm run test && npm run test:e2e

      # - name: Skip binding to privileged port on CI
      #   working-directory: /tmp/testapp
      #   run: sed -i "s/- '443:443'/# - '443:443'/g" docker-compose.yml

      # - name: Create Server Dockerfile
      #   working-directory: /tmp/testapp
      #   run: ./gradlew :genesisproduct-testapp:testapp-deploy:createDockerfile

      # - name: Build Docker images
      #   working-directory: /tmp/testapp
      #   run: docker-compose build

      # - name: Run healthcheck
      #   run: ./.genx/scripts/health-check.sh http://localhost:4569/health/status

      # - name: Stop the app
      #   working-directory: /tmp/testapp
      #   run: docker-compose down
