name: Build

on:
  pull_request:
    branches: [main, master, develop, alpha, prerelease]
  workflow_dispatch:

jobs:
  build:
    env:
      genesisArtifactoryUser: ${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_USER }}
      genesisArtifactoryPassword: ${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_KEY }}
      USE_DOCKER: 1
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'gradle'
      - uses: KengoTODA/actions-setup-docker-compose@main
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Authenticate on Artifactory
        run: |
          jfrog config add --artifactory-url="https://genesisglobal.jfrog.io/artifactory" --user="${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_USER }}" --password="${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_KEY }}" --interactive=false

      - name: Configure Gradle
        run: ./.genx/scripts/init-gradle.sh

      - name: Generate sample app
        working-directory: /tmp
        run: npx -y @genesislcap/genx@latest init testapp -s "${{github.workspace}}" -x --enableDeployPlugin

      - name: Copy fixtures
        run: cp -R ./.genx/tests/fixtures/testapp/* /tmp/testapp

      - name: Build sample app
        working-directory: /tmp/testapp
        run: ./gradlew build --info

      - name: Lint UI
        working-directory: /tmp/testapp/client
        run: npm run lint

      - name: Test (unit & integration UI)
        working-directory: /tmp/testapp/client
        run: npm run test && npm run test:e2e

      - name: Skip binding to privileged port on CI
        working-directory: /tmp/testapp
        run: sed -i "s/- '443:443'/# - '443:443'/g" docker-compose.yml

      - name: Create Server Dockerfile
        working-directory: /tmp/testapp
        run: ./gradlew :server:testapp-app:createDockerfile --info

      - name: Build Docker images
        working-directory: /tmp/testapp
        run: docker-compose build

      # - name: Run healthcheck
      #   run: ./.genx/scripts/health-check.sh http://localhost:4569/health/status

      # - name: Stop the app
      #   working-directory: /tmp/testapp
      #   run: docker-compose down
