name: Test Server version

on:
  push:
    branches: [shruti/PSD-1]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Set up Jfrog CLI
        uses: jfrog/setup-jfrog-cli@v3
        with:
          version: latest
      - name: Authenticate on Artifactory
        run: |
          jfrog config add --artifactory-url="https://genesisglobal.jfrog.io/artifactory" --user="${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_USER }}" --password="${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_PASSWORD }}" --interactive=false
      - name: Print latest versions
        run: |
          echo "Latest Foundation UI version:"
          npm info @genesislcap/foundation-ui version
          echo "Latest GSF version:"
          jf rt s "libs-release-client/global/genesis/genesis-distribution/" --sort-by=created --sort-order=desc --limit=1 --exclusions="*-RC*;*-SNAPSHOT*" | grep path | tr -s ' ' | cut -d '/' -f 5
          echo "Latest AUTH version"
          jf rt s "libs-release-client/global/genesis/auth-distribution/" --sort-by=created --sort-order=desc --limit=1 --exclusions="*-RC*;*-SNAPSHOT*" | grep path | tr -s ' ' | cut -d '/' -f 5
