name: Upgrade

on:
  workflow_dispatch: # Manual
  schedule:
    - cron: '0 9 * * 1' # Mondays 9AM UTC

jobs:
  upgrade:
    runs-on: ubuntu-latest
    # TODO: uncomment once environment is ready
    # environment: deploy
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Set up Jfrog CLI
        uses: jfrog/setup-jfrog-cli@v3
        with:
          version: latest

      - name: Authenticate on Artifactory
        run: |
          jfrog config add --artifactory-url="https://genesisglobal.jfrog.io/artifactory" --user="${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_USER }}" --password="${{ secrets.JFROG_LIBS_RELEASE_CLIENT_RO_PASSWORD }}" --interactive=false

      - name: Update to latest versions if available
        run: node .genx/scripts/update-versions

      - name: Check for changes
        id: versions
        run: echo "CHANGED=$(git status --porcelain)" >> "$GITHUB_OUTPUT"
  
      - name: Commit changes
        if: steps.versions.outputs.CHANGED
        run: |
          git config --global user.email "ci@genesis.global" && git config --global user.name "CI"
          git checkout -b chore-dep-update
          git add --all
          git commit -m "chore: automated dependency version update [skip-ci] PSD-9"
          git push --set-upstream origin chore-dep-update -f

      - name: Raise PR
        if: steps.versions.outputs.CHANGED
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          OWNER: ${{github.repository_owner}}
          REPO: ${{github.event.repository.name}}
        run: |
          mkdir /tmp/create-pr
          cd /tmp/create-pr
          npm init -y
          npm i @octokit/core -S
          
          cat <<EOT >> /tmp/create-pr/index.js
          const { Octokit } = require('@octokit/core');

          const octokit = new Octokit({ auth: process.env.GITHUB_TOKEN }),
            owner = process.env.OWNER,
            repo = process.env.REPO,
            title = 'chore: automated dependency version update [skip-ci] PSD-9',
            body  = 'Automated PR',
            head  = 'chore-dep-update',
            base  = 'main';
          
          (async () => {
            const response = await octokit.request(
              'POST /repos/' + owner + '/' + repo + '/pulls', { owner, repo, title, body, head, base }
            );
          })();
          EOT

          node /tmp/create-pr/index


